body {
	color: white;
	background-color: black;
	padding: 5px;
	text-align: center;
}

.func_div{
	border: 1px solid navy;
 margin: 8px;
}

.arg{
 font-size: 120%;
 padding: 8px;
 border: 1px solid rgb(0,100,80)  ;
 
}
.footer{
 font-size: 60%;
}

h1{
  text-decoration:double;
}
h2{
  text-decoration:underline;
}
